:root {
  --color-primario: #0064ff; /* Azul principal */
  --color-secundario: #212b36; /* Gris oscuro (fondo) */
  --color-border: #38526c;
  --color-terciario: #ffffff; /* Blanco (texto) */
  --color-acento: #ff9900; /* Naranja (resaltado) */
  --color-enlace: #0064ff;
}
html {
  font-size: 16px;
}
body {
  background-color: var(--color-secundario);
  color: var(--color-terciario);
  font-family: "PT Serif", serif;
  background-image: url('/imagenes/pexels-karolina-grabowska-4814061.jpg');
  margin: 0;
}

/* Estilos para el contenedor principal */
#navBarContainer {
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--color-terciario);
}
/*Close Button invisible para grandes */
#closeBurger {
  display: none;
}
/* Estilos para el logotipo y los enlaces del menú */
.commonNavBar {
  color: var(--color-border);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  transition: color 0.3s;
  display: flex; /* Alinea elementos en una fila */
  align-items: center; /* Centra verticalmente */
}

/* Estilos para el menú de navegación */
a {
  color: var(--color-border);
  width: 100%;
}
a:hover {
  color: var(--color-acento);
}
.socialA{
  width: 100%;
}
#navBar {
  width: 35%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos para el logotipo */
#logoContainer {
  width: 25%;
  font-size: 1.2rem;
}
#burgerMenuForSmallSize {
  width: 50px;
  height: 50px;
  font-size: 1.2rem;
  display: none;
}
#logoContainer img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 10px;
}
/* Estilos para el espacio en blanco en el medio del NavBAr*/
.spacer {
  flex-grow: 1; 
}
/* Centro de informacion */

#mainSection {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  height: 100vh;
  padding: 0 0.5rem; 
}
#socials {
  background-color: var(--color-acento);
  height: auto;
  width: 3.5rem;
  position: fixed;
  left: 0.5rem;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#socials a img {
  max-width: 90%;
  height: auto;
  margin-bottom: 1rem;
  margin-left: 0.2rem;
}

.socialComun:hover {
  background-color: var(--color-enlace);
  cursor: pointer;
}
#centerContent {
  flex-grow: 1;
  text-align: center;
}

.customButton {
  background-color: var(--color-acento);
  color: var(--color-terciario);
  padding: 10px 20px;
  border: solid;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  #navBar {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu.active {
    display: block;
    background-color: var(--color-terciario);
    float: right;
    margin-top: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    transition: top 0.3s ease;
  }

  .menu.active ul {
    padding: 0;
    list-style: none;
  }

  .menu.active li:not(:last-child) {
    text-align: center;
    margin-bottom: 10px;
    margin-bottom: 10px; /* Mantén el margen entre todos los elementos excepto el último cuando el menú está activo */
    background: linear-gradient(
      to right,
      transparent 15%,
      var(--color-secundario) 50%,
      transparent 85%
    ); /* Línea personalizada para todos los elementos excepto el último */
    background-size: 100% 1px; /* Grosor de la línea */
    background-repeat: no-repeat;
    background-position: 0 100%; /* Inicio de la línea en el centro */
  }
  .menu.active li:last-child {
    margin-bottom: 0;
    border-bottom: none;
    text-align: center;
    margin-bottom: 10px;
  }

  .menu.active a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--color-secundario);
  }

  .menu.active a:hover {
    background-color: var(--color-acento);
    color: var(--color-primario); /* Cambia el color del texto en hover */
  }
  #closeBurger {
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
  }
  #navBar {
    display: none;
  }
  #burgerMenuForSmallSize {
    display: block;
  }
  #socials {
    display: none;
  }
}
