:root {
  --color-primario: #0064ff; /* Azul principal */
  --color-secundario: #212b36; /* Gris oscuro (fondo) */
  --color-border: #38526c;
  --color-terciario: #ffffff; /* Blanco (texto) */
  --color-acento: #ff9900; /* Naranja (resaltado) */
  --color-enlace: #0064ff; /* Azul para enlaces */
}
body {
  background-color: var(--color-secundario);
  color: var(--color-terciario);
}
a {
  color: var(--color-terciario);
}
#navBar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-terciario);
}

#navBar a {
  text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
  border: 1px solid transparent; /* Borde casi invisible */
  padding: 5px 10px; /* Espacio interior alrededor del enlace */
  color: #38526c;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  transition: color 0.3s;
  padding: 1rem 5rem;
}

#navBar a:hover {
  color: var(--color-acento); /* Cambia el color del borde en hover */
}
