:root {
  --color-primario: #0064ff; /* Azul principal */
  --color-secundario: #212b36; /* Gris oscuro (fondo) */
  --color-border: #38526c;
  --color-terciario: #ffffff; /* Blanco (texto) */
  --color-acento: #ff9900; /* Naranja (resaltado) */
  --color-enlace: #0064ff;
}
#backHome {
  z-index: 2;
}
#centerContent {
  margin-top: 200px; /* Ajusta la cantidad de espacio según tus necesidades */
}

.content {
  flex: 2;
  max-width: 70%;
  margin: 0 200px;
  text-align: justify; /* Ocupa dos tercios del espacio disponible */
}

.coolWords {
  color: var(--color-acento);
}
#contactButton {
  display: block;
  margin: 0 auto; /* Centrar horizontalmente */
  padding: 15px 30px; /* Ajusta el tamaño del botón según tus preferencias */
  background-color: var(--color-enlace); /* Color de fondo del botón */
  color: var(--color-terciario); /* Color del texto */
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave de color de fondo */
}

#skills {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skill {
  width: 100px; /* Ancho fijo */
  height: 100px; /* Altura fija */
  background-color: var(--color-border);
  color: #fff;
  text-align: center;
  line-height: 100px;
  border-radius: 5px;
  margin: 10px;
}

/* Media query para pantallas medianas (tabletas) */
/* Estilos para pantallas medianas */
@media (min-width: 769px) and (max-width: 1024px) {
}
/* Estilos para teléfonos móviles (ancho de pantalla <= 768px) */
@media (max-width: 768px) {
  #centerContent {
    margin: 600px 50px 0 50px;
    width: 1vh;
  }
  #pedroWithAbook {
    max-height: 40vh;
    max-width: 80%;
    display: block;
    margin: 50px auto;
  }
  .skill {
    background-color: var(--color-secundario);
  }
}
